@charset "UTF-8";


@font-face {
    font-family: 'KoddiUDOnGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KoddiUDOnGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "KoddiUDOnGothic";
    font-size: 15px;
    line-height: 1.5;
    color: #1a1a1a;

    min-width: 1320px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}


/* 헤더 */
/* 헤더 */
#header {
    background-color: rgba(26, 26, 26, 1);
    transition: 1s;
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: 50%;
}

#header:hover {
    background-color: rgba(26, 26, 26, 1);
    transition: 0.5s;
    opacity: 100%;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header_in img {
    display: block;
}

.header_in ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    gap: 50px;
}

.header_in li {
    display: flex;
    align-items: center;
}

.header_in li a {
    display: block;
}

.menu:hover {
    color: #8ea09f;
}

/* 티켓버튼 */
.ticket {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 5px 20px;
    transition: 0.2s;
}

.ticket:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: #fff;
    color: #1a1a1a;
    padding: 5px 20px;
    transition: 0.2s;
}


/* 헤더 끝 */


/* 메인 배너 */
/* 메인 배너 */
#main_b {
    position: relative;
    margin: auto;
}

/*  */
.mb_p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -412px;
    font-size: 40px;
    z-index: 2;
    color: #fff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.mb_pp {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -450px;
    z-index: 2;
    background-color: #000;
    height: 80px;
    width: 900px;
    /* width: 100%; */

    mix-blend-mode: soft-light;
    opacity: 100%;
}

/*  */
.Swiper1 {
    width: 1920px;
    height: 970px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slide-1-1 {
    background: url(../images/main_b1.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-1-2 {
    background: url(../images/main_b2.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-1-3 {
    background: url(../images/main_b3.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-1-4 {
    background: url(../images/main_b4.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-1-5 {
    background: url(../images/main_b5.png) no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 메인배너 끝 */

/* 브랜드 소개 */
/* 브랜드 소개 */

#about {
    background: url(../images/brand_bg.png) no-repeat center center / cover fixed;
    width: 100%;
    height: 750px;
    position: relative;
}

.about_in {
    width: 1320px;
    margin: auto;
    color: #f2f2f2;
    padding-top: 125px;
}

.ab_in_t h2 {
    font-size: 30px;
    font-weight: bold;
}

.ab_in_t h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
}

.ab_in_t p {
    font-size: 18px;
    line-height: 2;
}

.ab_p {
    color: #b0b0b0;
}

.ab_pp {
    font-weight: bold;
}

/* 브랜드 소개 버튼 */
.ab_in_but {
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    font-size: 16px;
}

.r_more,
.r_call {
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(242, 242, 242, 1);
    opacity: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.r_more img {
    display: inline-block;
    width: 16px;
    height: 15px;
}

.r_call img {
    display: inline-block;
    width: 18px;
    height: 16px;
}


.r_more:hover,
.r_call:hover {
    border: 1px solid rgba(242, 242, 242, 0);
    background-color: rgba(242, 242, 242, 0.7);
    opacity: 100%;
    transition: 0.2s;
}

/* 브랜드 소개 끝 */


/* 경험 */
/* 경험 */
/* 전시 */
.exhibi {
    width: 85%;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 100px;
    border-bottom: 1px dashed #b0b0b0;
}

h3 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
}

.exhibi ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.echibi li a {
    display: block;
}

.exhibi li img {
    width: 100%;
    display: block;
}

.exhibi li:hover img {
    filter: brightness(120%);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.ex_title {
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1a;
    padding-top: 10px;
}

.ex_icon {
    font-size: 12px;
    background-color: #3a3a3a;
    font-weight: normal;
    color: #f2f2f2;
    padding: 4px 5px;
    border-radius: 5px;
}

.ex_icon2 {
    font-size: 12px;
    background-color: #b0b0b0;
    font-weight: normal;
    color: #f2f2f2;
    padding: 4px 5px;
    border-radius: 5px;
}

.ex_date {
    font-size: 15px;
    color: #1a1a1a;
    padding-top: 5px;
}

/* 프로그램 */
.learn {
    width: 85%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
}


.learn li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.learn li a {
    display: block;
}

.learn li a:last-child {
    text-align: left;
}

.learn li img {
    width: 100%;
    display: block;
}

.learn li:hover img {
    filter: brightness(120%);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.Swiper2 {
    margin: 0 60px;
}

.swiper-pagination-2 {
    text-align: center;
    padding-top: 25px;
}


.swiper-pagination-2 .swiper-pagination-bullet {
    background-color: #b0b0b0;
    opacity: 1;
}

.swiper-pagination-2 .swiper-pagination-bullet-active {
    background-color: #8ea09f;
    width: 30px;
    border-radius: 10px;
    /* Swiper3의 활성화된 점 색상 */
}





/* 경험 끝 */

/* 파트너 */
/* 파트너 */
/* 공간 소개 */
#partner {
    background-color: #f2f2f2;
    padding: 150px 0;
}

.part_in1 {
    width: 1320px;
    margin: auto;
}

.part_in1 h3 {
    text-align: center;
}

.space {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #b0b0b0;
    padding: 30px 0;
}

.s_p1 {
    font-weight: bold;
    width: 180px;
}

.s_p1 h4 {
    font-size: 25px;
}

.s_p1 p {
    font-size: 16px;
}

.s_p2 {
    font-size: 15px;
}

.s_p2 span {
    font-weight: bold;
}

/* 이벤트 배너 */
.part_in2 {
    background-color: #111;
    height: 130px;
    margin-top: 80px;
}

.part_in2 img {
    margin: auto;
    display: flex;
    justify-items: center;
}

/* 상점 */
.part_in3 {
    width: 1320px;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;
}

.part_in3 span {
    font-size: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
}

.Swiper3 {
    width: 630px;
    height: 630px;
}

.Swiper3 a {
    display: inline-block;
}

.Swiper3 .swiper-pagination-bullet {
    background-color: #f2f2f2;
    opacity: 1;
}

.Swiper3 .swiper-pagination-bullet-active {
    background-color: #8ea09f;
    /* Swiper3의 활성화된 점 색상 */
}

.pr_2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 630px;
    row-gap: 10px;

}

.pr_2 a {
    overflow: hidden;
    position: relative;
}

/* 상품 이미지(.pr_2 a img) */
.pr_21 {
    display: block;
    width: 200px;
    height: 200px;
}

/* 투명상자.. */
.pr_22 {
    background-color: rgba(142, 160, 159, 0.8);
    color: rgba(242, 242, 242, 0.8);
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;

    opacity: 0;
    transition: 0.5s;

}

.pr_2 a:hover .pr_22 {
    opacity: 100%;
}



.pr_22 p {
    display: block;

    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -27px;
}

.pr_22_icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    opacity: 80%;

    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: -10px;
}

/* 파트너 끝 */


/* 커뮤니티 */
/* 커뮤니티 */
/* 방문 */
.visit {
    width: 1320px;
    margin: auto;
    padding: 150px 0;
}

.visit h3 {
    text-align: center;
}

.vi_in {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;
}

.vi_in_all {
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.vi_in_all img {
    display: block;
    width: 20px;
    height: 20px;
}

.vi_in_all p {
    font-size: 20px;
    font-weight: bold;
}

/* 표1 */
.vi_in table {
    width: 1000px;
    font-size: 15px;
    border: 1px solid #3a3a3a;
    border-collapse: collapse;
}

.vi_in th,
.vi_in td {
    border: 1px solid #3a3a3a;
    padding: 10px 30px;
    vertical-align: top;
}


.vi_in th {
    font-size: 16px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.vi_in span {
    font-size: 13px;
}


/* 표2 */

.vi_in2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-start;

}

.vi_in2 table {
    width: 1000px;
    font-size: 15px;
    border: 1px solid #3a3a3a;
    border-collapse: collapse;
}

.vi_in2 th,
.vi_in2 td {
    border: 1px solid #3a3a3a;
    padding: 10px 30px;
    align-items: center;
}


.vi_in2 th {
    font-size: 16px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.vi_t_center {
    text-align: center;
}

.vi_in2 ul li {
    list-style: circle;
}


/* 표3 */
.vi_in3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vi_bg {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.vi_bg_in {
    width: 420px;
    padding: 25px 30px;
}

.vi_bg_in p {
    padding-left: 10px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.address {
    background: #f0f0f0 url(../images/icon_v.png) no-repeat 90% 60%;
}

.contact_in {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.contact_in p span {
    font-weight: bold;
}

.contact {
    background: #f0f0f0 url(../images/icon_v2.png) no-repeat 90% 60%;
}


/* 공지/문의 */
.notice_faq_all {
    background-color: #f2f2f2;
    padding: 150px 0;
}

.notice_faq_all_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.notice_faq_all_in h6 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    width: 600px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice_faq_all_in img {
    width: 20px;
    height: 20px;
    display: block;
}

.notice_faq_all_in a {
    color: #1a1a1a;
    display: block;
}

.notice p,
.faq p {
    line-height: 2.5;
    padding-left: 10px;
}

/* 커뮤니티 끝 */

/* 푸터 */
/* 푸터 */

#footer {
    background-color: #3a3a3a;
    padding: 60px 0;
}

.footer_in {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.f_f {
    width: 950px;
    display: flex;
    justify-content: space-between;
}

.f_logo {
    display: block;
    width: 146px;
    height: 150px;
}

.foot_t {
    width: 700px;
    font-size: 13px;
    color: #b0b0b0;
    align-items: center;
    line-height: 1.8;
}

.foot_t img {
    display: inline-block;
    width: 18px;
}

.foot_t p:first-child {
    padding-bottom: 10px;
}

.foot_t p:last-child {
    margin-top: 15px;
    border-top: 1px solid #b0b0b0;
    padding-top: 5px;
}

.foot_sns {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
}

.foot_sns img {
    width: 30px;
    height: 30px;
}

.foot_sns img:last-child {
    width: 30px;
    height: 22px;
}

.f_logo:hover,
.foot_sns img:hover {
    filter: brightness(120%);
}



/* 탑버튼 */

@keyframes top{
    0%{transform: translateY(0);}
    100%{transform: translateY(-50%);}

}

#top_b{position: fixed;
    z-index: 1000;
right: 3%;
bottom: 3%;
animation:  top 1s infinite alternate linear;
opacity: 50%;
transition: 0.5s;}


#top_b:hover{opacity: 100%;}


/* 스크롤 부드럽게 하기 */
html{scroll-behavior: smooth;}